:root{
    --cinza-primario: #151515;
    --cinza-secundario: #d9d9d9f7;
    --fonte: 'Inter';
}
body{
    font-family: var(--fonte);
    
}
.fonte-pesada{
    font-weight: 700;
}
.cinza-primario{
    background-color: var(--cinza-primario);
}
.cinza-secundario{
    background-color: var(--cinza-secundario);
}
.texto-maior-banner{
    font-size: 13px;

}
.texto-menor-banner{
    font-size: 13px;
}