:root {
    --claro-primario: #048af8;
    --claro-secundario: #ececec;
    --escuro-primario: #121213;
    --escuro-secundario: #2e2e2e;
    --fonte-grande: 'Unbounded', cursive;
    --fonte-pequena: 'Inter';
}

.fonte-pesada {
    font-weight: 700;
}

.cor-primaria-claro {
    background-color: var(--claro-primario);
}

.cor-secundaria-claro {
    background-color: var(--claro-secundario);
}

.cor-primaria-escuro {
    background-color: var(--escuro-primario);
}

.cor-secundaria-escuro {
    background-color: var(--escuro-secundario);
}

p {
    font-family: var(--fonte-pequena);
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--fonte-grande);
}
