:root {
    --claro-primario: #048af8;
    --claro-secundario: #ececec;
    --escuro-primario: #121213;
    --escuro-secundario: #2e2e2e;
    --fonte-titulos: 'Unbounded', cursive;
    --fonte-textos: 'Inter';
}

.fonte-pesada {
    font-weight: 500;
}

.cor-primaria-claro {
    background-color: var(--claro-primario);
}

.cor-secundaria-claro {
    background-color: var(--claro-secundario);
}

.cor-primaria-escuro {
    background-color: var(--escuro-primario);
}

.cor-secundaria-escuro {
    background-color: var(--escuro-secundario);
}

p {
    font-family: var(--fonte-textos);
    font-size: 20px;
}

h1{
    font-family: var(--fonte-titulos);
    font-size: 2.4rem;
}
h2{
    font-family: var(--fonte-titulos);
    font-size: 1.8rem;
}
h3{
    font-family: var(--fonte-titulos);
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: #00000000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .card-fusao:hover .overlay {
    width: 100%;
  }